<div style='border: 10px dashed rgba(0,0,0,0.6);'>
	<br><br><br><br><br><br>
</div>
<div style='border: 10px dashed rgba(0,0,0,0.6); border-top: 0; display: flex; flex-direction: row; flex-wrap: nowrap;'>
	<div style='border-right: 10px dashed rgba(0,0,0,0.6); flex: 1;'>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<div style='border-right: 10px dashed rgba(0,0,0,0.6); flex: 1;'>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<div style='flex: 1;'>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
</div>