<div style='border: 10px dashed rgba(0,0,0,0.6);'>
	<br><br><br><br><br><br>
</div>
<div style='display: flex; flex-direction: row; flex-wrap: nowrap;'>
	<div style='flex: 1; border-right: 10px dashed rgba(0,0,0,0.6); border-left: 10px dashed rgba(0,0,0,0.6);'>
		<br><br><br><br>
	</div>
	<div style='flex: 1; border-right: 10px dashed rgba(0,0,0,0.6);'>
		<br><br><br><br>
	</div>
	<div style='flex: 1; border-right: 10px dashed rgba(0,0,0,0.6);'>
		<br><br><br><br>
	</div>
	<div style='flex: 1; border-right: 10px dashed rgba(0,0,0,0.6);'>
		<br><br><br><br>
	</div>
</div>
<div style='display: flex; flex-direction: row; flex-wrap: nowrap;'>
	<div style='border: 10px dashed rgba(0,0,0,0.5); border-right: 0; flex: 1;'>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<div style='border: 10px dashed rgba(0,0,0,0.5); flex: 3;'>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<div style='border: 10px dashed rgba(0,0,0,0.5); border-left: 0; flex: 1;'>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
</div>