<style>
	h3, h2, h1 {
		margin: 0;
	}
</style>


<div class="container">
	<div ng-show="signedIn()" class="col-lg-6 col-lg-offset-3 text-center" style="margin-bottom: 30px;">
		<form class="input-group" ng-submit="createSite()">
			<input class="form-control" placeholder="Name" ng-model="name" required>
			<span class="input-group-btn">
				<button class="btn btn-success center-block" type="submit">Add new site</button>
			</span> 
		</form>	
	</div>

	<div class="col-md-4" ng-repeat="site in sites">
		<div class="panel panel-default">
			<div class="panel-heading" ng-show="showEditLink(site)">
				<a ui-sref="siteShow({site_id: site.id})" style="display: inline-block;"><h3>{{site.name}}</h3></a>
				<a ng-click="siteDestroy(site)" style="display: inline-block;" class="pull-right"><h3><span class="glyphicon glyphicon-trash" style="color: red;"></span></h3></a>
				<a ui-sref="siteEdit({site_id: site.id})"  style="display: inline-block; margin-right: 10px;" class="pull-right"><h3><span class="glyphicon glyphicon-edit"></span></h3></a>
			</div>
			<div class="panel-heading" ng-hide="showEditLink(site)">
				<a ui-sref="siteShow({site_id: site.id})" style="display: inline-block;"><h3>{{site.name}}</h3></a>
			</div>
			<div class="panel-body">
				by {{site.user.first_name}} {{site.user.last_name}}
			</div>
		</div>
	</div>
</div>